/*

    Use this to style every webpage.
    In the <head> tag, put <link href="styles.css" rel="stylesheet"> for the page to have effect.

*/

@import 'https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@7/fonts/Anakotmai/Anakotmai.css';

/* Variables */
:root {
    --accent-color: #4f3929;
    --white: #ffffff;
    --text-color: #ffffff;
    --bg-color: #f9f5f1;
}
body {
    margin: 0;
    font-family: Arial, sans-serif; 
    background-image: url("img/bgimg.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
body::after{
    filter: brightness(70%);
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color); /* สีน้ำตาลเข้ม */
    padding: 10px 0;
    border-radius: 0 0 15px 15px; /* โค้งมน */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Navigation Links */
.navbar a {
    color: var(--text-color); /* ตัวหนังสือสีขาว */
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 10px; /* เพิ่มความโค้ง */
    transition: background-color 0.3s ease;
}

/* Navigation Bar Hover Effect */
.navbar a:hover {
    background-color: #956855; /* สีเข้มขึ้นเมื่อ hover */
}

/* Content for individual pages */
.content {
    font-family: 'Anakotmai';
    text-align: center;
    margin: 50px;
    font-size: 24px;
    color: #333;
}